.element__like  {
  width: 22px;
  height: 19px;
  -webkit-transition: opacity .5s;
  -o-transition: opacity .5s;
  transition: opacity .5s;
}

.element__like:hover  {
  opacity: .5;
  cursor: pointer;
}
