.popup__input {
  width: 100%;
  margin-bottom: 20px;
  padding: 10px 0 9px 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

.popup__input:focus {
  outline: none;
  -webkit-box-shadow: 0 0 2px 4px rgba(3, 66, 202, 0.7);
          box-shadow: 0 0 2px 4px rgba(3, 66, 202, 0.7);
  border-radius: 1px;
  /* последние 2 свойства не были на макете в Фигме, но я увидел их на видео на странице проектной работы в Яндекс.Практикуме и сделал "на глаз" */
}

.popup__input:last-of-type {
  margin-bottom: 45px;
}
