.profile__profession {
  margin: 0;
  grid-area: profession;
  font-size: 18px;
  line-height: 1.22;
}

@media screen and (max-width: 1024px) {
  .profile__profession {
    font-size: 16px;
  }
}


@media screen and (max-width: 620px) {
  .profile__profession {
    text-align: center;
    font-size: 14px;
    line-height: 1.21;
  }
}
